#outer{
    height: 200px;
    width: 70px;
    border:2px solid black ;
    display: ;
}
.inner{
    height: 50px;
    border:2px solid black ;
    width: 50px;
    margin:10px;

    border-radius: 50%;
}
#red{
    background-color: red;
}
#yellow{
    
    background-color: yellow;
}
#green{
    background-color: green;
}