section{
    margin-top: 100px;
    border: 2px solid black;
}
div{
    width: 200px;
    height: 50px;
    background-color: lightgreen;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
}
div:nth-of-type(2n){
    background-color: aliceblue;
}
div:nth-of-type(3n){
    background-color: orange ; 
}
/* transform */
#one{
    transform:rotate(45deg);
}
#two{
    transform: scale(0.5 );
    
}#three{
    transform: translate(100px,200px);
}
#four{
    transform: skew(45deg);
}   
#five{
    transform:rotate(30deg) translate(100px);

}