<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <h3>Write new chat...</h3>
    <form action="/chats" method="post">
        <input type="text" placeholder="who are you" name="from">
        <br>
        <textarea name="msg" placeholder="write your message here"></textarea>
        <br>
        <input type="text" placeholder=" add receiver" name="to">
        <br>
        <button>Create chat</button>
    </form>
    
</body>
</html>