<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit username</title>
</head>
<body>
    <h2>You are about  to edit this user : <%=user.email%></h2>
</body>
<form method="post"  action="/user/<%=user.id%>?_method=PATCH" >
    <textarea name="username" id=""><%=user.username%></textarea>
    <input type="password"  name="password" placeholder=" Enter password">
    <button>Edit </button>

</form>
</html>