<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h2><%= "apnacollege".toUpperCase()%> </h2>
    <h2><%= ["hello","Bonjour","namste"][2]%> </h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque reiciendis nulla impedit, accusamus beatae ipsa laudantium, nihil doloremque voluptatum quia et eum! Possimus autem magnam animi magni facilis ipsam, libero nesciunt excepturi rerum iste iusto repellendus vitae veritatis totam aliquid voluptatum maiores? Ratione adipisci maxime odit est laudantium consectetur praesentium quisquam sunt nostrum? Harum odit reprehenderit ex suscipit animi iusto assumenda dicta excepturi nihil, placeat voluptatum. Quibusdam, sed aut. Eligendi delectus, et quae culpa placeat voluptates. Laborum porro veniam maiores reprehenderit dicta commodi necessitatibus! Incidunt, aut. Perspiciatis excepturi quidem vero ex, aliquam quod omnis eveniet labore doloribus, optio similique minus id assumenda at beatae, non provident qui consequuntur. Exercitationem cum laudantium fuga quibusdam hic impedit eos, voluptatibus dolores unde, quasi quo nam praesentium tempora atque excepturi nostrum esse odit temporibus ad? Numquam quidem nobis quam provident temporibus quis accusantium consectetur, officiis quae ex. Autem excepturi quia rem! Inventore blanditiis quae neque odit similique distinctio molestiae error molestias dolor debitis voluptates eligendi aliquid accusamus id impedit sequi ipsam excepturi ex, quaerat perspiciatis. Labore cumque fuga corrupti consectetur. Doloribus neque aspernatur dolores optio ipsa est ullam deleniti porro quisquam eum molestiae animi veritatis eius ut, sint autem voluptas nisi quia provident facilis!</p>

<button>click me!</button>


</body>
</html>